.contain-form-auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.contain-auth {
    margin: 0;
    padding: 0;
    min-width: 390px;
    width: 100%;
    max-width: 600px;
    height: auto;
}


@media screen and (max-width: 400px) {
    .contain-auth{
        min-width: auto;
    }
}
